.amazon-link {
  color: rgb(0, 113, 113);
  font-size: 20px;
  font-family: Roboto;
}
.amazon-link:hover {   
  color: rgb(1, 75, 75);
}
.amazon-link:active {   
  color: rgb(2, 50, 50);
}
.product {
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: Roboto;
}
.pricing {
  color: rgb(0, 118, 0);
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
}
.delivery-time {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  width: 300px;
}
.add-to-cart-button {
  background-color: rgb(242, 204, 16);
  color: black;
  width: 160px;
  height: 44px;
  border: none;
  font-size: 20px;
  font-family: Roboto;
  border-radius: 27px;
  cursor: pointer;
  transition: background-color 0.15s,
  box-shadow 0.15s;
}
.add-to-cart-button:hover {   
  background-color: rgb(230, 194, 14);
}
.add-to-cart-button:active {   
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
}
.buy-now-button {
  background-color: rgb(255, 164, 28);
  color: black;
  width: 160px;
  height: 44px;
  border: none;
  font-size: 20px;
  font-family: Roboto;
  border-radius: 27px;
  margin-left: 15px;
  cursor: pointer;
  transition: background-color 0.15s,
  opacity 0.15s;
  /* box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15); */
} 
.buy-now-button:hover {   
  background-color: rgb(248, 149, 1);
}
.buy-now-button:active {   
  opacity: 0.5;
}